*{
    box-sizing: border-box;
    margin-top: 0px;
    background-attachment: fixed;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0px;
}
h1,h2{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%
    );
    padding: 5px 0 0 10px ;
    width: 200px;
    background-color: rgba(0, 0, 0, 0.7);
    color: azure;
    letter-spacing: 10px;
    font-family: 'Heebo', sans-serif;
}
#bgi-3>h1{
    width: 250px;

}
h2{
    background-color: aliceblue;
    color: black;
    width: 300px;
    font-family: 'Noto Sans TC', sans-serif;


}
#word-1>p{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%
    );
    color: black;
    font-family: 'Noto Sans TC', sans-serif;

}
#word-2>p,#word-3>p{
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%
    );
    color: azure;
    font-family: 'Noto Sans TC', sans-serif;
}
.btm{
    position: fixed;
    top: 63px;
    right: 16%;
}
li{
    width: 100px;
    text-align: center;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
    color: aliceblue;
    padding: 10px;
    margin-right: 10px;
    float: left;
    font-family: 'Noto Sans TC', sans-serif;
}
li:hover{
    background-color: rgba(255, 255, 255, 0.6);
    color: black;
    font-weight: bold;
}

#bgi-1{
    height: 100vh;
    width: 100%;
    background-color: bisque;
    background-image: url(./imges/2022_April_1920x1080_01.jpg);
}
#bgi-2,#bgi-3{
    height: 400px;
    width: 100%;
    background-color: aqua;
    background-image: url(./imges/2022_April_1920x1080_02.jpg);
}
#bgi-3{
    background-color: aquamarine;
    background-image: url(./imges/2022_April_1920x1080_03.jpg);
}
#word-1{
    height: 350px;
    width: 100%;
    background-color: aliceblue;
}
#word-2,#word-3{
    height: 150px;
    width: 100%;
    background-color: #282E34;
}
